.app {
  background: url(./bg.png) center center no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.liveTalk {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.agenda {
  width: 20%;
  background-color: #181818;
}